$size-xs: 576px; // Tiny phones
$size-sm: 768px; // Small tablets and large smartphones (landscape view)
$size-md: 992px; // Small tablets (portrait view)
$size-lg: 1024px; // Tablets and small desktops
$size-xl: 1280px; // Large tablets and desktops
$size-2x: 1680px; // Large tablets and desktops
// max
$size-md-max: 991px; // Small tablets (portrait view)