// base colors
$white-color: #fff !default;
$light-color: #f7f7f7 !default;
$superlight-color: #f7f7f7 !default; // e0e0e0
$dark-color: #000000 !default;
$base-color: #1d1d1d !default;
$gray-color: #c6c6c6 !default;
$gray-color-dark: darken($gray-color, 10%) !default;
$gray-color-light: lighten($gray-color, 10%) !default;
// Brand colors
$primary-color: #a71059;
$secondary-color: #91f2ff;
$tertiary-color: #aeaeae;
$primary-color-dark: darken($primary-color, 3%) !default;
$primary-color-light: lighten($primary-color, 3%) !default;
$secondary-color: lighten($primary-color, 37.5%) !default;
$secondary-color-dark: darken($secondary-color, 3%) !default;
$secondary-color-light: lighten($secondary-color, 3%) !default;
//annunci colors
$col-immobile: #ef476f;
$col-acquirente: #ffd166;
$col-responsabile: #06d6a0;
$col-collaborazione: #118ab2;
$col-agente: #073b4c;
// Semantic colors
$success-color: #42d212;
$warning-color: rgb(230, 146, 1);
$error-color: #d20b0b;
// project-colors
$responsabile-color: #2f4cd7;
$agente-color: #a71059;
// Gray colors
$light-color: #fff !default;
$border-color: lighten($dark-color, 65%) !default;
$border-color-dark: darken($border-color, 10%) !default;
$border-color-light: lighten($border-color, 8%) !default;
$bg-color: lighten($dark-color, 75%) !default;
$bg-color-dark: darken($bg-color, 3%) !default;
$bg-color-light: $light-color !default;