// font-family
$sans-serif: -apple-system,
system-ui,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$monospace: monospace;
// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;
// Font sizes
$html-font-size: 16px !default;
$html-font-size-sm: 15px !default;
$html-line-height: 1.5 !default;
$font-size: 1rem !default;
$font-size-xs: .7rem !default;
$font-size-sm: .8rem !default;
$font-size-lg: 1.2rem !default;
$font-size-xl: 1.3rem !default;
$line-height: 1.2rem !default;