/*
settings
Questa directory non vien trasferita da Workook a Senseria.
è necessario crearla manualmente per gestire le impostazioni generali
*/

@import '00-settings/colors';
@import '00-settings/units';
@import '00-settings/breakpoints';
@import '00-settings/fonts';
@import '00-settings/sizes';

/*
abstracts
*/

@import '01-abstracts/animation';
@import '01-abstracts/mixins';

/*
base
*/

@import '02-base/base';
@import '02-base/flex';
@import '02-base/grid';
@import '02-base/typography';

/*
layouts
*/

@import '03-layout/site/layout';
@import '03-layout/site/navbar';

/*
elements
*/

@import '04-elements/breadcrumbs';
@import '04-elements/buttons';
@import '04-elements/cards';
@import '04-elements/forms';
@import '04-elements/hamburger';
@import '04-elements/helpers';
@import '04-elements/hero';
@import '04-elements/hr';
@import '04-elements/icons';
@import '04-elements/links';
@import '04-elements/lists';
@import '04-elements/navs';
@import '04-elements/pagination';
@import '04-elements/toast';
@import '04-elements/user';

/*
components
*/

@import '05-components/modal';
@import '05-components/tooltips';
@import '05-components/popovers';
@import '05-components/dropdown';
@import '05-components/search';

/*
pages
*/

@import '06-pages/profile';
@import '06-pages/auth';
@import '06-pages/errors';
@import '06-pages/articoli';
@import '06-pages/gallerie';

/*
custom
*/

@import '99-custom/custom';
.header--sticky {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white-color;
    z-index: 1000;
}

.togglemenu {
    display: none;
    background: transparent;
    border: 0;
    width: 36px;
    @media (max-width: 960px) {
        display: block;
    }
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 998;
    .active & {
        display: block;
    }
}

.highlight {
    position: relative;
    white-space: nowrap;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 0.3em;
        z-index: -1;
    }
    &-aqua:before {
        background-color: $tertiary-color;
    }
    &-yellow:before {
        background-color: $secondary-color;
    }
}

.hightlight-on-hover {
    position: relative;
    white-space: nowrap;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 100%;
        bottom: 0;
        height: 0.3em;
        z-index: -1;
        background-color: $secondary-color;
        transition: right .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:hover {
        &::before {
            right: 0;
        }
    }
    &:focus {
        &::before {
            right: 100%;
            background-color: $tertiary-color;
        }
    }
}