.badge {
    display: inline-block;
    font-size: 0.7rem;
    border-radius: $border-radius;
    padding: 0.1rem 0.25rem;
    background-color: $light-color;
    &--success {
        background-color: $success-color;
        color: $white-color;
    }
    &--xs {
        font-size: 0.7em;
        padding: 0.1em 0.25em;
    }
}