.block {
    margin-top: 2rem;

    #maincontent & {
        &:first-child {
            margin-top: 8px;
        }
    }
    &--bordered {
        border: 1px solid $border-color-light;
        border-radius: $border-radius;
        padding: 1rem;
    }
    h2,
    h3,
    h4,
    .block__title {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1.5rem !important;
        display: flex;
        align-items: center;
    }
    .block__header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem !important;
        .block__title {
            margin-bottom: 0px !important;
        }
        .block__header--right {
            margin-left: auto;
        }
    }
    p {
        font-size: $font-size;
    }
    &--success {
        border-color: $success-color;
    }
    &--warning {
        border-color: $warning-color;
        h2,
        h3,
        h4 {
            color: $warning-color;
        }
    }
    &--danger {
        border-color: $error-color;
        h2,
        h3,
        h4 {
            color: $error-color;
        }
    }
}