.breadcrumb {
    font-size: $font-size-xs;
    background-color: $superlight-color;
    margin: 0;
    padding: .5rem 0 0.5rem 0;
    text-align: center;
    .site & {
        //max-width: 1280px;
        //margin: .2rem auto;
    }
    @include sm() {
        //text-align: left;
    }
    &-item {
        display: inline-block;
        margin: 0;
        padding: 0.25rem 0;
        @media screen and (max-width: 1284px) {
            &:first-child {
                padding-left: 0.4rem;
            }
        }
        &:not(:first-child) {
            &:before {
                content: '/';
                padding-right: .4rem;
                color: $gray-color;
            }
        }
        span {
            color: $gray-color;
        }
    }
}