.card {
    background-color: $white-color;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid $light-color;
    display: block;
    cursor: pointer;
    list-style-type: none;
    //@extend .shadow;
    height: 100%;
    border-radius: $border-radius;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &a {
        cursor: pointer;
    }
    &:hover {
        border-color: $dark-color;
        //box-shadow: 0 .25rem 1rem rgba(48, 55, 66, .30);
    }
    &--header {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
        svg {
            width: 22px !important;
            height: 22px !important;
        }
    }
    &--body {
        align-items: center;
    }
    &--footer {
        border-top: 1px solid $light-color;
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        svg {
            margin-left: 0.15rem;
            width: 18px;
            height: 18px;
            use {
                fill: $gray-color-dark;
            }
        }
    }
    .card--title {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        font-size: 1.1rem;
        line-height: normal;
        display: flex;
        align-items: center;
    }
    .card--location {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
    }
    &--user {
        padding: 1rem;
        >.columns {
            height: 100%;
        }
        &--img {
            position: relative;
            display: block;
            width: 100%;
            max-width: 70px;
            height: auto;
            max-height: 70px;
            border-radius: 50%;
            border: 1px solid $gray-color;
            margin: 0 0 0 auto;
            filter: grayscale(100%) contrast(120%);
            transition: all 0.3s ease;
            overflow: hidden;
            text-indent: -9999px;
            &:after {
                content: '';
            }
        }
        &--title {
            margin-bottom: 0px;
            .user--qualifica,
            .user--nome {
                display: block;
            }
            .user--nome {
                font-size: 1rem;
                font-weight: 600;
                transition: all 0.3s ease;
            }
            .user--qualifica {
                font-size: 0.8rem;
                font-weight: 400;
            }
        }
        .user--certificazione {
            top: 3px;
            position: relative;
            svg {
                margin-left: 0.15rem;
                width: 17px;
                height: 17px;
                use {
                    fill: $primary-color;
                }
            }
        }
        &--city {
            font-weight: 400;
            font-size: 0.8rem;
            color: $gray-color-dark;
        }
        &--job {
            font-size: 0.8rem;
            font-weight: 400;
        }
        &--footer {
            padding-top: 1rem;
            font-size: 0.8rem;
            text-align: right;
            color: $gray-color-dark;
            margin-top: auto;
            display: flex;
            align-content: flex-end;
            &--counter {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: default;
                .n {
                    margin-left: 0.5rem;
                }
                svg {
                    margin-left: 0.15rem;
                    width: 15px;
                    height: 15px;
                    use {
                        fill: $gray-color-dark;
                    }
                }
            }
        }
        &:hover {
            .card--user--img {
                filter: grayscale(100%) contrast(140%);
                transform: scale(1.05);
            }
        }
    }
    &--immobile {
        // box-shadow: none !important;
        svg.destinazione {
            width: 60px;
            height: 60px;
        }
        .card--header,
        .card--footer {
            display: flex;
            align-items: center;
        }
        .card--footer {
            margin-top: 0.5rem;
            padding-top: 0.5rem;
        }
        .immobile-mq {
            font-size: 0.8rem;
            margin-left: 0.15rem;
            .mq {
                margin-left: 0.15rem;
                sup {
                    font-size: 0.6em;
                }
            }
        }
        .immobile-responsabiletecnico {
            display: flex;
            width: 100%;
            min-height: 55px;
            align-items: center;
            .qualifica,
            .nome {
                white-space: nowrap;
            }
        }
        .immobile-annuncio {}
        .immobile-noresult {
            width: 100%;
            display: block;
            text-align: center;
            color: $gray-color;
        }
    }
    &--acquirente {
        svg {
            width: 70px;
            height: 70px;
        }
    }
    &--annuncio {
        .annuncio-code {
            opacity: 0;
        }
        &:hover {
            .annuncio-code {
                opacity: 1;
            }
        }
        .img {
            border-radius: 50%;
        }
        &.immobili {
            border-top: 3px solid $col-immobile;
        }
        &.acquirenti {
            border-top: 3px solid $col-acquirente;
        }
        &.responsabiletecnico {
            border-top: 3px solid $col-responsabile;
        }
        &.collaborazioni {
            border-top: 3px solid $col-collaborazione;
        }
    }
    &--raccolta {
        margin-bottom: 0.5rem;
    }
}