.chart-container {
    position: relative;
    min-width: 40px;
    min-height: auto;
    .chart-percentage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.7rem;
        .perc_value {
            font-weight: 600;
        }
        .perc_sign {
            font-weight: 200;
        }
    }
    .chart-title {
        font-size: 0.85rem;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }
    .chart-summary {
        font-size: 0.75rem;
        display: block;
        text-align: center;
        margin-top: 1rem;
    }
    canvas {
        width: 100% !important;
        height: auto;
    }
}