.hamburger {
    display: block;
    height: 28px;
    position: relative;
    cursor: pointer;
    @include lg() {
        display: none;
    }
    span {
        position: absolute;
        left: 0;
        height: 2px;
        border-radius: 3em;
        width: 36px;
        background-color: $white-color;
        transition: all .2s ease;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translate(0, -50%);
        }
        &:nth-child(3) {
            bottom: 0;
        }
        .site & {
            background-color: $dark-color;
        }
    }
    &:hover {
        span {
            background-color: $secondary-color;
            transition: all .2s ease;
            &:nth-child(1) {
                width: 30px;
            }
            &:nth-child(2) {
                width: 26px;
            }
            &:nth-child(3) {
                width: 34px;
            }
        }
    }
    &:active {
        color: darken($primary-color, 5%);
    }
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px rgba($primary-color, .5);
    }
    &.active {
        span {
            background-color: $primary-color;
            &:nth-child(1) {
                transform: rotate(45deg) translate(50%, 0);
                left: 50%;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(50%, 0);
                left: 50%;
            }
        }
    }
}