.border {
    border: 1px solid $gray-color;
}

.radius {
    border-radius: $border-radius;
}

.float-right {
    float: right;
}

.text {
    &-lowercase {
        text-transform: lowercase;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-capitalize {
        text-transform: capitalize;
    }
    &-clip {
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }
    &-break {
        hyphens: auto;
        word-break: break-word;
        word-wrap: break-word;
    }
}


/*
colors
*/

// Text colors
@include text-color-variant(".text-primary", $primary-color);
@include text-color-variant(".text-secondary", $secondary-color-dark);
@include text-color-variant(".text-gray", $gray-color);
@include text-color-variant(".text-white", $white-color);
@include text-color-variant(".text-light", $light-color);
@include text-color-variant(".text-dark", $dark-color);
@include text-color-variant(".text-success", $success-color);
@include text-color-variant(".text-warning", $warning-color);
@include text-color-variant(".text-error", $error-color);
// Background colors
@include bg-color-variant(".bg-primary", $primary-color);
@include bg-color-variant(".bg-secondary", $secondary-color);
@include bg-color-variant(".bg-tertiary", $tertiary-color);
@include bg-color-variant(".bg-dark", $dark-color);
@include bg-color-variant(".bg-gray", $gray-color);
@include bg-color-variant(".bg-gray-light", $gray-color-light);
@include bg-color-variant(".bg-white", $white-color);
@include bg-color-variant(".bg-success", $success-color);
@include bg-color-variant(".bg-warning", $warning-color);
@include bg-color-variant(".bg-error", $error-color);
// Fill colors
@include fill-color-variant(".fill-primary", $primary-color);
@include fill-color-variant(".fill-secondary", $secondary-color);
@include fill-color-variant(".fill-tertiary", $tertiary-color);
@include fill-color-variant(".fill-dark", $dark-color);
@include fill-color-variant(".fill-gray", $gray-color);
@include fill-color-variant(".fill-gray-light", $gray-color-light);
@include fill-color-variant(".fill-white", $white-color);
@include fill-color-variant(".fill-success", $success-color);
@include fill-color-variant(".fill-warning", $warning-color);
@include fill-color-variant(".fill-error", $error-color);
.shadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.hidden {
    display: none !important;
    @include xs() {
        &-xs {
            display: none !important;
        }
    }
    @include sm() {
        &-sm {
            display: none !important;
        }
    }
    @include md() {
        &-md {
            display: none !important;
        }
    }
    @include lg() {
        &-lg {
            display: none !important;
        }
    }
    @include xl() {
        &-xl {
            display: none !important;
        }
    }
}

.visible {
    display: block;
    @include xs() {
        &-xs {
            display: block;
        }
    }
    @include sm() {
        &-sm {
            display: block;
        }
    }
    @include md() {
        &-md {
            display: block;
        }
    }
    @include lg() {
        &-lg {
            display: block;
        }
    }
    @include xl() {
        &-xl {
            display: block;
        }
    }
}

.transition {
    transition: all 0.3s ease-in-out;
}

.visually-hidden {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}