.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;
    padding-top: 4rem;
    @include sm() {
        flex-direction: row;
    }
    &.hero-sm {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    &.hero-lg {
        padding-bottom: 7rem;
        padding-top: 7rem;
    }
    .hero-body {
        padding: $layout-spacing;
    }
}