.icon {
    &--primary {
        use {
            fill: $primary-color;
        }
    }
    &--secondary {
        use {
            fill: $secondary-color;
        }
    }
    &--tertiary {
        use {
            fill: $tertiary-color;
        }
    }
    &--dark {
        use {
            fill: $dark-color;
        }
    }
    &--success {
        use {
            fill: $success-color;
        }
    }
    &--error {
        use {
            fill: $error-color;
        }
    }
    // sizes 
    &--10 {
        width: 10px;
        height: 10px;
    }
    &--15 {
        width: 15px;
        height: 15px;
    }
    &--20 {
        width: 20px;
        height: 20px;
    }
    &--25 {
        width: 25px;
        height: 25px;
    }
    &--30 {
        width: 30px;
        height: 30px;
    }
    &--50 {
        width: 50px;
        height: 50px;
    }
}