ul {
    margin: 0px;
    padding: 0px;
    li {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    &.list {
        li {
            padding: 0.25em 0;
            border-bottom: 1px solid $superlight-color;
            a {
                display: flex !important;
                align-items: center;
                svg {
                    width: 36px;
                    height: 36px;
                }
            }
        }
        &.stripped {
            li {
                &:nth-child(odd) {
                    background-color: $superlight-color;
                }
            }
        }
        &.hover {
            li {
                &:hover {
                    background-color: $superlight-color;
                }
            }
        }
    }
}