.inline-nav {
    padding-left: 0;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    li {
        display: inline-block;
        position: relative;
        &.has-submenu {
            >a {
                &:after {
                    content: '';
                    margin: 0.3rem 0rem 0.3rem 0.5rem;
                    display: block;
                    width: 9px;
                    height: 9px;
                    border-bottom: 1px solid $dark-color;
                    border-right: 1px solid $dark-color;
                    transform: rotate(45deg);
                    opacity: 0.7;
                }
            }
            &.opened {
                >a {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        a {
            padding: 8px;
            position: relative;
            display: flex;
            border-radius: 20em;
            svg {
                width: 22px;
                height: 22px;
            }
            .label {
                margin-left: 0.25rem;
                &.hidden-mobile {
                    display: none;
                    margin-left: 0;
                }
                @include sm() {
                    display: inline-block;
                }
            }
            &.current {
                color: $dark-color;
                background-color: $light-color;
                &.label {
                    display: inline-block !important;
                }
            }
        }
        &.gestione {
            >a {
                background-color: $secondary-color;
            }
        }
        &.right {
            @include md() {
                float: right;
            }
        }
        ul.submenu {
            position: absolute;
            min-width: 200px;
            width: auto;
            left: 50%;
            margin-top: 20px;
            transform: translate(-50%, 0);
            background-color: $white-color;
            box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
            border-radius: $border-radius;
            z-index: 997;
            padding: 0.5rem;
            display: none;
            &.show {
                display: block;
            }
            &:before {
                content: "";
                width: 16px;
                height: 16px;
                position: absolute;
                top: -3px;
                left: 50%;
                background-color: $white-color;
                transform: rotate(45deg) translate(-50%, 0);
            }
            @include md() {
                &.submenu-right {
                    right: 0;
                    left: auto;
                    transform: translate(0, 0);
                    &:before {
                        left: auto;
                        right: 0px;
                    }
                }
            }
            li {
                text-align: left;
                display: block;
                a {
                    padding: 8px 16px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    &:hover,
                    &.current {
                        border-radius: 20em;
                    }
                    &:hover {
                        background-color: $superlight-color;
                    }
                    &.current {
                        color: $dark-color;
                        background-color: $light-color;
                    }
                }
                &.divider {
                    height: 1px;
                    background-color: $light-color;
                }
            }
        }
    }
    #maincontent & {
        margin-left: -8px;
    }
}