.notification_area_active body {
    overflow: hidden !important;
}

.notification {
    position: fixed;
    bottom: 16px;
    right: 16px;
    left: 16px;
    background-color: $white-color;
    border-radius: $border-radius;
    padding: 0 0.5rem 0.5rem 0.5rem;
    z-index: 999;
    box-shadow: 0 -5px 20px rgba($dark-color, 0.3);
    animation: notification-in 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: $font-size-sm;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    @include xs() {
        left: auto;
        min-width: 280px;
        max-width: 320px;
    }
    &__title {
        border-bottom: 1px solid $light-color;
        padding: 0.5rem;
        display: flex;
        button {
            margin-left: auto;
        }
    }
    &__body {
        padding: 0.5rem;
        border-radius: $border-radius;
        display: block;
        &:hover {
            background-color: $light-color;
        }
    }
}

@keyframes notification-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

#notification_area {
    display: none;
    width: 80%;
    background-color: $superlight-color;
    box-shadow: inset 6px 0px 10px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    bottom: 0;
    right: -80%;
    z-index: 1999;
    @include xs() {
        right: -240px;
        width: 240px;
    }
    @include xl() {
        right: -280px;
        width: 280px;
    }
    .notification_area_active & {
        display: block;
    }
    #notification_area_header {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.75rem 0.5rem 0.75rem 0.75rem;
        h3 {
            margin: 0px;
        }
    }
    #close_notification_area {
        //margin-left: auto;
    }
    #notification_wrapper {
        overflow: auto;
        height: 90vh;
    }
    .notifica {
        border-bottom: 1px solid rgba($gray-color, 0.7);
        font-size: 0.85rem;
        display: flex;
        padding:0.75rem 0.75rem 0.75rem 0.5rem;
        background-color: rgba($white-color, 0.3);

        &.readed {
            background-color: rgba($light-color, 0.7);
            opacity: 0.7;
        }
        .notifica-header {
            font-size: 0.8em;
            
            display: flex;
            align-items: center;

            .date {
                opacity: 0.6;
            }
            .action {
                margin-left: auto;

                .delete {
                    display: none;
                    background: transparent;
                    opacity: 0.6;
                    border: 0px;
                    &.show {
                        display: block;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.9;
                        }
                    }
                    
                }
            }
        }
        .notifica-body {
            padding-right: 0.5rem;
        }
        .notifica-action {
            width: 45px;
            display: block;
        }
        &:not(.readed):hover {
            background-color: rgba($white-color, 0.1);
        }
        button.unreaded {
            height: 30px;
            display: block;
            border: 0px;
            position: relative;
            background-color: transparent;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.unreaded {
                &:after {
                    background-color: $primary-color;
                }

                &:hover {
                    &:after {
                        background-color: lighten($primary-color, 8%);
                    }
                }
            }
            
        }


    }
}

#toggle_notification_area {
    position: fixed;
    right: 16px;
    bottom: 16px;
    opacity: 1;
    background-color: $white-color;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border: 0px;
    padding: 0px;
    z-index: 1999;
    cursor: pointer;
    svg {
        margin-top: 4px;
        animation: campanella 3s linear infinite;
        use {
            fill: $dark-color;
        }
    }
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    .notification_area_active & {
        opacity: 0;
        transform: scale(0);
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 36px;
        height: 36px;
        border: 1px solid $white-color;
        border-radius: 50%;
        top: 0px;
    }
    &.fire {
        &:after {
            animation: notify 2s infinite;
        }
    }
    .counter {
        position: absolute;
        top: -5px;
        right: -5px;
        display: block;
        font-size: $font-size-xs;
        min-width: 18px;
        height: 18px;
        background-color: $error-color;
        text-align: center;
        line-height: 18px;
        color: $white-color;
        border-radius: 50%;
        z-index: 3;
        font-size: 0.9em;
    }
}

@keyframes notify {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes campanella {
    0% {
        transform: rotate(0deg);
    }
    49% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    55% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    65% {
        transform: rotate(-10deg);
    }
    66% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}