.has-notify {
    position: relative;
}

.notify {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -14px;
    right: 8px;
    background-color: red;
    color: #FFF;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
}