#offcanvas_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9988;
    background: rgba($dark-color, 0.5);
    opacity: 0;
    &.show {
        animation: fadeIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }
}