.pagination {
    text-align: center;
    padding: 0px;
    li {
        display: inline-block;
        list-style-type: none;
        &.page-item {
            &:first-child() {}
            &:last-child() {}
            &.disabled {
                display: none;
            }
            a {
                @extend .btn;
                @extend .btn-outline-dark;
                @extend .btn-padding;
                @extend .btn-rounded;
            }
        }
    }
}