.panel {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    .panel-header {
        display: flex;
        align-items: center;
        .panel-title {}
        .panel-options {
            margin-left: auto;
        }
    }
    .panel-section {
        margin-top: 1rem;
        margin-bottom: 1rem;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            margin-bottom: 1rem;
            background-color: $superlight-color;
        }
    }
    &.closed {
        opacity: 0.4;
        .panel-title {
            background-color: $gray-color;
        }
        .panel-body {
            display: none;
        }
    }
}