/****************************************************************
 *
 * CSS Percentage Circle
 * Author: Andre Firchow
 *
*****************************************************************/

// Compass utilities
// VARS
$circle-width: 0.12em;
$circle-width-hover: 0.04em;
.rect-auto {
    clip: rect(auto, auto, auto, auto);
}

.pie {
    position: absolute;
    border: $circle-width solid $primary-color;
    width: 1 - (2 * $circle-width);
    height: 1 - (2 * $circle-width);
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    transform: rotate(0deg);
}

.pie-fill {
    transform: rotate(180deg);
}

.c100 {
    *,
    *:before,
    *:after {
        box-sizing: content-box;
    }
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: $gray-color;
    &.center {
        float: none;
        margin: 0 auto;
    }
    &.big {
        font-size: 240px;
    }
    &.small {
        font-size: 80px;
    }
    >span {
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        width: 5em;
        line-height: 5em;
        font-size: 0.2em;
        color: $gray-color;
        display: block;
        text-align: center;
        white-space: nowrap;
        transition: all 0.2s ease-out;
    }
    &:after {
        position: absolute;
        top: $circle-width;
        left: $circle-width;
        display: block;
        content: " ";
        border-radius: 50%;
        background-color: $white-color;
        width: 1 - (2 * $circle-width);
        height: 1 - (2 * $circle-width);
        transition: all 0.2s ease-in;
    }
    // the slice (mask)
    .slice {
        position: absolute;
        width: 1em;
        height: 1em;
        clip: rect(0em, 1em, 1em, 0.5em);
    }
    // circle to show the status
    .bar {
        @extend .pie;
    }
    // loop to create all needed elements automatically
    @for $j from 51 through 100 {
        &.perc#{$j} .slice {
            @extend .rect-auto;
        }
        &.perc#{$j} .bar:after {
            @extend .pie-fill;
        }
        &.perc#{$j} .fill {
            @extend .pie;
            @extend .pie-fill;
        }
    }
    // loop to rotate all 100 circles
    @for $j from 1 through 100 {
        &.perc#{$j} {
            .bar {
                transform: rotate((360/100*$j) + deg);
            }
            .bar,
            .fill {
                @if($j<=25) {
                    border-color: $error-color !important;
                }
                @else if ($j>75) {
                    border-color: $primary-color !important;
                }
                @else if ($j <=75 and $j>50) {
                    border-color: $success-color !important;
                }
                @else if ($j<=50 and $j>25 $j) {
                    border-color: $warning-color !important;
                }
            }
        }
    }
    // hover styles
    &:hover {
        cursor: default;
        /*
          >span {
            width: 3.33em;
            line-height: 3.33em;
            font-size: 0.3em;
        }
       
        &:after {
            top: $circle-width-hover;
            left: $circle-width-hover;
            width: 1 - (2 * $circle-width-hover);
            height: 1 - (2 * $circle-width-hover);
        }
         */
    }
}

.piepercent {
    display: block;
    height: 200px;
    width: 200px;
    margin: 2em auto;
    border-radius: 100%;
    position: relative;
    .svg circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s linear;
        stroke: $light-color;
        stroke-width: 20px;
    }
    .svg .bar {
        stroke: #FF9F1E;
    }
}

.piepercent:after {
    position: absolute;
    display: block;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    content: attr(data-pct)"%";
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 100%;
    line-height: 160px;
    font-size: 2em;
    text-align: center;
}