#preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: rgba($dark-color, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.show {
        animation: fadeIn 0.2s ease forwards;
    }
    &:after {
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 3px solid $white-color;
        border-left-width: 0px;
        animation: preloader-ring 1s linear infinite;
        border-color: $white-color $white-color transparent transparent;
    }
}

@keyframes preloader-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}