.row {
    border-bottom: 1px solid $light-color;
    padding-bottom: 4px;
    +.row {
        padding-top: 4px;
    }
    &:last-child {
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    &:hover {
        background-color: $superlight-color;
    }

   
}