.table {
    width: 100%;
    td {
        padding: 0.5rem 0;
    }
    &--verificatecnica {
        border-collapse: collapse;
        h3 {
            margin: 0px;
        }
        tr {
            th {
                font-size: 0.85rem;
                font-weight: normal;
            }
        }
        tr {
            &:hover {
                background-color: $superlight-color;
            }
            td {
                border-bottom: 1px solid $light-color;
            }
            &:last-child {
                td {
                    border-bottom: 0px !important;
                }
            }
        }
        .col_check {
            text-align: center;
            padding: 1rem;
        }
    }
}