// Toasts
.toast {
    background: rgba($dark-color, .95);
    border-color: $dark-color;
    border: $border-width solid $dark-color;
    border-radius: $border-radius;
    color: $white-color;
    display: block;
    padding: $layout-spacing;
    width: 100%;
    margin-top: 1rem;
    &.toast-primary {
        background: rgba($primary-color, .95);
        border-color: $primary-color;
    }
    &.toast-success {
        background: rgba($success-color, .95);
        border-color: $success-color;
    }
    &.toast-warning {
        background: rgba($warning-color, .95);
        border-color: $warning-color;
    }
    &.toast-error {
        background: rgba($error-color, .95);
        border-color: $error-color;
    }
    a {
        color: $light-color;
        text-decoration: underline;
        &:focus,
        &:hover,
        &:active,
        &.active {
            opacity: .75;
        }
    }
    .btn-clear {
        margin: $unit-h;
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.fixed {
        position: fixed;
        z-index: 9999;
        opacity: 0.85;
        bottom: 2rem;
        width: 90%;
        max-width: 360px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &.animate {
        animation: toastEnter .2s 1 forwards;
    }
}