.users,
.users #main {
   // background-color: $superlight-color;
}

.user-placeholder {
    width: 36px;
    height: 36px;
    display: inline-block;
    background-color: $light-color;
    color: $base-color;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    margin-top: 7px;
    font-size: 0.9em;
    font-weight: 400;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:before {
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        background-color: $secondary-color;
        transition: all 0.3s ease-in-out;
        &:before {
            content: '';
            position: absolute;
            top: -3px;
            left: -3px;
            z-index: -1;
            background-color: $primary-color-dark;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
        }
    }
}

.user-name {
    display: none;
    color: $base-color;
    @include lg() {
        margin-right: 5px;
    }
}

.user-popover {
    .popover-container {
        //left: 0 !important;
        //right: 0;
        top: 50%;
        padding-left: 0px !important;
    }
    *:focus+.popover-container,
    &:hover .popover-container {
        transform: translate(0, -100%) scale(1) !important;
    }
    .user-popover-link {
        color: $gray-color;
        &:hover {
            color: $gray-color !important;
        }
    }
    .card {
        font-size: small;
        display: flex;
    }
    .user-popover-image {
        margin-right: 8px;
        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 1px solid $gray-color;
            opacity: 1;
        }
    }
    .user-popover-title {
        font-size: small;
        margin: 0px;
    }
    .user-popover-location {
        display: block;
    }
    .user-popover-categoria {
        display: block;
    }
}

.user-sign {
    position: sticky;
    top: 80px;
    &-image {
        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
}