#footer {
    padding: 16px 32px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md() {
        margin-left: 240px;
        flex-direction: row;
        align-content: space-between;
        .fullscreen & {
            margin-left: 70px;
        }
    }
    @include xl() {
        margin-left: 280px;
        .fullscreen & {
            margin-left: 80px;
        }
    }
    p {
        margin-bottom: 0px;
        width: 100%;
    }
    .logo-procreo {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
    }
}