#header {
    position: fixed;
    background-color: $primary-color;
    top: 0px;
    left: 0px;
    height: 60px;
    display: flex;
    z-index: 100;
    width: 100%;
    @include sm() {
        height: 70px;
    }
    @include lg() {
        width: 240px;
        .fullscreen & {
            width: 70px;
        }
    }
    @include xl() {
        width: 280px;
        .fullscreen & {
            width: 80px;
        }
    }
    #nav_collapse {
        display: none;
        text-align: center;
        width: 20px;
        height: 20px;
        position: absolute;
        right: -11px;
        top: 0;
        transition: none;
        @include lg() {
            display: block;
        }
        span {
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-right: 9px solid $white-color;
            display: block;
        }
        .fullscreen & {
            right: -20px;
            span {
                border-right: 0px;
                border-top: 9px solid transparent;
                border-bottom: 9px solid transparent;
                border-left: 9px solid $primary-color;
            }
        }
    }
    #nav_toggle {
        flex: 1;
        margin-left: 16px;
        margin-top: 16px;
    }
    #logo {
        margin-top: 5px;
        transition: none;
        @include lg() {
            margin-left: 16px;
            .fullscreen & {
                padding-left: 8px;
            }
        }
        svg {
            max-height: 28px;
            margin-top: 12px;
            vertical-align: middle;
            width: auto;
            path {
                fill: $white-color;
            }
            @include lg() {
                .fullscreen & {
                    svg {
                        margin-left: 16px;
                    }
                    path {
                        &:not(:first-child) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #user_toggle {
        flex: 1;
        margin-top: 8px;
        margin-right: 8px;
        text-align: right;
        @include lg() {
            position: fixed;
            bottom: 16px;
            left: 16px;
        }
    }
}

#user_menu {
    position: fixed;
    top: 60px;
    right: 8px;
    width: 240px;
    display: none;
    background-color: $white-color;
    border-radius: $border-radius;
    box-shadow: 0 5px 20px rgba($dark-color, 0.3);
    z-index: 9999;
    &.show {
        display: block;
    }
    a {
        display: block;
        padding: 16px;
        text-decoration: none;
        svg {
            width: 22px !important;
            height: 22px !important;
            margin-right: 7px;
            float: left;
            use {
                fill: $dark-color;
            }
        }
        &:hover {
            color: $primary-color;
            svg {
                use {
                    fill: $primary-color !important;
                }
            }
        }
    }
    &:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: -7px;
        background-color: #fff;
        right: 10px;
        transform: rotate(45deg);
    }
    @include lg() {
        background-color: #fff;
        box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
        top: auto;
        right: auto;
        bottom: 16px;
        left: 70px;
        &:before {
            top: auto;
            right: auto;
            bottom: 10px;
            left: -7px;
        }
    }
}