#main {
    padding: 60px 16px 8px 16px;
    left: 0px;
    margin-left: 0px;
    max-width: 1440px;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @include sm() {
        padding: 70px 32px 16px 32px;
    }
    @include md() {
        padding: 70px 32px 16px 32px;
    }
    @include lg() {
        margin-left: 240px;
        padding-top: 0px;
        .fullscreen & {
            margin-left: 70px;
        }
    }
    @include xl() {
        margin-left: 280px;
        .fullscreen & {
            margin-left: 80px;
        }
    }
    >header {
        min-height: 60px;
        padding-top: 0.5rem;
        @include sm() {
            padding-top: 0px;
        }
    }
    &:after {
        content: '';
        display: table;
        height: 48px;
    }
    #maincontent {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}