#nav {
    background-color: $primary-color;
    flex: 1;
    height: 100vh;
    left: 0px;
    bottom: 0px;
    padding-top: 16px;
    z-index: 2;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    transform: translate(-100%, 0);
    top: 0;
    border-right: 0px;
    width: 80%;
    @include xs() {
        width: 240px;
    }
    @include lg() {
        transform: translate(0, 0);
        top: 70px;
        width: 240px;
        .fullscreen & {
            width: 70px;
        }
    }
    @include xl() {
        width: 280px;
        .fullscreen & {
            width: 80px;
        }
    }
    &.show {
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: translate(0, 0);
        z-index: 9989;
        box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.25);
        @include lg() {
            box-shadow: none;
        }
    }
    #nav_close {
        text-indent: -9999px;
        margin-right: 0.5rem;
        width: 36px;
        height: 36px;
        position: relative;
        float: right;
        border: 0px;
        background: transparent;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            height: 2px;
            border-radius: 3em;
            width: 36px;
            background-color: $white-color;
            transform: rotate(45deg);
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            height: 2px;
            border-radius: 3em;
            width: 36px;
            background-color: $white-color;
            transform: rotate(-45deg);
        }
    }
}

#nav svg {
    width: 22px !important;
    height: 22px !important;
    margin-right: 7px;
    float: left;
}

#nav .notify {
    top: -10px;
    right: -18px;
}

#nav a use {
    fill: $light-color !important;
    transition: fill .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nav ul {
    clear: both;
}

#nav ul,
#nav ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#nav>ul>li {
    position: relative;
    @include md() {
        display: block;
    }
    &.divider {
        height: 2px;
        padding: 0px;
        background-color: $primary-color-dark;
    }
}

@include lg() {
    .fullscreen {
        #nav>ul>li>a {
            text-align: center;
            position: relative;
            svg {
                float: none;
                margin: 0px;
            }
            >span {
                font-size: 0.7rem;
                display: none;
                position: absolute;
                top: 100%;
                transform: translate(-50%, -30%);
                left: 50%;
                background-color: $secondary-color;
                z-index: 9;
                color: $dark-color;
            }
            &:hover {
                >span {
                    display: block;
                }
                ~.link {
                    display: none;
                }
            }
        }
    }
}

#nav ul li ul.submenu {
    background-color: $primary-color-dark;
    display: none;
    position: relative;
    font-size: small;
    &:before {
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: $primary-color-dark;
        transform: rotate(45deg);
        left: 40px;
        top: -5px;
    }
    li {
        a {
            opacity: 0.8;
            color: $light-color;
            &.current {
                color: $secondary-color;
                use {
                    fill: $secondary-color !important;
                }
                &:before {
                    display: none;
                }
            }
            &:hover {
                color: $secondary-color;
            }
        }
    }
}

#nav ul li {
    >a {
        text-decoration: none;
        display: block;
        padding: 16px;
        color: $white-color;
        ~.link {
            border-radius: 50%;
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 12px;
            position: absolute;
            right: 10px;
            top: 30px;
            //background-color: $primary-color-light;
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: translate(0, -50%) scale(0.4);
            z-index: 3;
            padding: 0px;
            svg {
                max-width: 90%;
            }
        }
    }
    &:hover>a {
        color: $secondary-color;
        use {
            fill: $secondary-color !important;
            transition: fill .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        ~.link {
            opacity: 0.8;
            //background-color: $primary-color-dark;
            transform: translate(0, -50%) scale(0.8);
            &:hover {
                opacity: 1;
                background-color: $primary-color-dark;
                transform: translate(0, -50%) scale(1);
                use {
                    fill: $white-color !important;
                }
            }
        }
    }
}

#nav a.disabled {
    cursor: text;
}

#nav a.current {
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        background-color: $primary-color-dark;
        border-radius: 2em;
        right: 8px;
        top: 8px;
        left: 8px;
        bottom: 8px;
        z-index: -2;
    }
}