#sidebar {
    max-width: 240px;
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 0;
    padding-left: 16px;
    padding-top: 16px;
    font-weight: 400;
    margin-right: 0px !important;
    &.collapsable {
        display: none;
        &.show {
            display: block;
            @include maxmd() {
                padding-left: 0px;
                padding-right: 0px;
                max-width: 100%;
                background-color: $white-color;
                border-bottom: 1px;
                margin-bottom: 30px;
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                position: relative !important;
            }
        }
        @include md() {
            display: block;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style-type: none;
            margin: 0px;
            padding: 8px 0;
            &.divider {
                min-height: 45px;
                margin: 16px 16px 8px 16px;
                padding: 2px 0;
                font-size: 0.75em;
                color: $gray-color;
                border-top: 1px solid $light-color;
                display: flex;
                align-items: center;
                /* responsabile tecnico */
                /*
                .btn-responsabile {
                    margin-left: auto;
                    border-radius: 50%;
                    width: 34px;
                    height: 34px;
                    padding: 0px;
                    text-align: center;
                    padding-top: 3px;
                    transition: none;
                    &.add {
                        &:before {
                            content: '+';
                            position: absolute;
                            font-size: 1.2rem;
                            left: -7px;
                            top: 0px;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            background-color: $secondary-color;
                            padding: 0;
                            line-height: 16px;
                            text-align: center;
                        }
                        &:hover {
                            &:before {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
                */
            }
            a {
                padding: 8px 16px;
                position: relative;
                display: flex;
                align-items: center;
                svg {
                    width: 14px;
                    height: 14px;
                    margin-left: 0.1rem;
                }
                .add {
                    margin-left: auto;
                    background-color: $secondary-color;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    text-align: center;
                }
                &.current {
                    color: $dark-color;
                    background-color: $light-color;
                    border-radius: 20em;
                }
                &.disabled {
                    color: $gray-color;
                    svg use {
                        fill: $gray-color
                    }
                }
                i {
                    color: $gray-color;
                    float: right;
                }
                .status {
                    width: 9px;
                    height: 9px;
                    display: inline-block;
                    border-radius: 50%;
                    margin-left: 0.25rem;
                    &.completed {
                        background-color: $success-color;
                    }
                    &.disable {
                        background-color: $gray-color;
                    }
                    &.error {
                        background-color: $error-color;
                    }
                }
            }
        }
    }
    &~#maincontent {
        @include md() {
            padding-right: 32px;
        }
    }
    /* scrollble orizonatal */
    @include maxmd() {
        &.scrollable {
            max-width: 100%;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            position: relative !important;
            padding: 1rem 0;
            ul {
                display: flex;
                text-align: justify;
            }
            ul:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
            li.divider {
                display: none;
            }
            li {
                white-space: nowrap;
                display: inline-block;
                padding: 4px 0;
                a {
                    font-size: 1rem;
                    padding: 4px 8px;
                }
            }
        }
    }
}

#sidebar_toggle {
    padding: 0px;
    display: inline-block;
    border: 0px;
    height: 22px;
    width: 26px;
    transform: translate(0, -50%);
    border-top: 0px;
    background: transparent;
    position: relative;
    margin-left: 8px;
    cursor: pointer;
    span {
        height: 0.1rem;
        width: 26px;
        display: block;
        border-radius: 2rem;
        background-color: $dark-color;
        position: absolute;
        right: 0;
        transition: all 0.3s ease;
        &:nth-child(1) {
            top: 1px;
        }
        &:nth-child(2) {
            top: 50%;
            margin-top: -1px;
            width: 22px;
        }
        &:nth-child(3) {
            bottom: 1px;
        }
    }
    &:not(.opened) {
        &:hover {
            span {
                &:nth-child(1) {
                    width: 22px;
                }
                &:nth-child(2) {
                    width: 26px;
                }
                &:nth-child(3) {
                    width: 18px;
                }
            }
        }
    }
    &.opened {
        span {
            &:nth-child(1) {
                width: 26px;
                transform: rotate(45deg) translate(0, -50%);
                top: 50%;
            }
            &:nth-child(2) {
                width: 0px;
            }
            &:nth-child(3) {
                width: 26px;
                transform: rotate(-45deg) translate(0, 50%);
                bottom: 50%;
            }
        }
    }
}