.accordion {
    list-style-type: none;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    &-item {
        position: relative;
        background-color: $white-color;
        display: block;
        input[type=radio] {
            &.radio-specializzazione {
                display: none;
                &+svg {
                    display: none;
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    z-index: 9;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    transition: all .2s;
                    path {
                        fill: $gray-color;
                    }
                }
                &.visible {
                    &+svg {
                        display: block;
                    }
                }
                &:hover,
                &:focus {
                    &+svg {
                        transform: scale(1.2);
                    }
                }
                &:checked {
                    &+svg {
                        transform: scale(1.2);
                        path {
                            fill: $primary-color;
                        }
                    }
                }
            }
        }
        &__title {
            display: block;
            color: $base-color;
            padding: 1rem 2rem 1rem 0.5rem;
            margin: 0;
            position: relative;
            border: 1px solid $gray-color;
            border-bottom: 0px;
            font-weight: 400;
            cursor: pointer;
            &:before {
                content: '';
                display: block;
                float: left;
                margin: 0.5rem 0.5rem 0.5rem 0;
                width: 10px;
                height: 10px;
                border-right: 1px solid $dark-color;
                border-top: 1px solid $dark-color;
                transform: rotate(45deg);
                margin-right: 0.5rem;
            }
            &:hover {
                background-color: $light-color;
            }
            .counter {
                background-color: $white-color;
                color: $base-color;
                padding: 3px;
                border-radius: 2rem;
                display: none;
                font-size: 0.8rem;
            }
        }
        &__content {
            border-left: 1px solid $gray-color;
            border-right: 1px solid $gray-color;
            border-top: 1px solid $gray-color;
            display: none;
            padding: 1rem;
            position: relative;
            max-height: 350px;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            .select-all-container {
                padding: 0;
                font-size: 0.8rem;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 1rem;
                i {
                    left: auto;
                    margin-left: -16px;
                }
            }
        }
        &.checked {
            .accordion-item__title {
                background-color: $secondary-color-light;
                color: $dark-color;
            }
        }
        &.opened {
            .accordion-item__title {
                color: $dark-color;
                &:before {
                    transform: rotate(135deg) translatex(-5px);
                }
                input[type=checkbox] {
                    display: inline-block;
                }
            }
            .accordion-item__content {
                display: block;
                .form-group {
                    .form-switch {
                        padding: 0.5rem 0.5rem 0.5rem 2.5rem;
                        border-radius: 2rem;
                        transition: all 0.2s;
                        .form-icon {
                            top: auto;
                            left: 0.25rem;
                        }
                    }
                    &:hover {
                        //background-color: $light-color;
                        .form-switch {
                            background-color: $light-color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        &:first-child {
            .accordion-item__title {
                border-radius: 0.2rem 0.2rem 0 0;
            }
        }
        &:last-child {
            .accordion-item__title {
                border-bottom: 1px solid $gray-color;
                border-radius: 0 0 0.2rem 0.2rem;
            }
        }
    }
}