.dropdown {
    position: relative;
    .dropdown-toggle {
        &:focus,
        &.opened {
            color: $dark-color;
        }
    }
    .dropdown-menu {
        background-color: $white-color;
        border-radius: $border-radius;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 1rem;
        padding: 0.5rem;
        right: 0;
        display: none;
        &:before {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            top: -4px;
            background-color: $white-color;
            right: 5px;
            transform: rotate(45deg);
        }
        li {
            list-style-type: none;
            a {
                padding: 0.25rem 0.5rem;
                color: $dark-color;
                display: block;
                white-space: nowrap;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    &.show {
        .dropdown-menu {
            display: block;
        }
    }
}