.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9997;
    padding: 30px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.1s, opacity 0.3s ease;
    display: none;
    &.show {
        display: block;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }
    .modal__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9998;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal__close {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        svg {
            width: 20px;
            height: 20px;
            use {
                fill: $dark-color;
            }
        }
        &:hover,
        &:focus {
            svg {
                use {
                    fill: $primary-color;
                }
            }
        }
    }
    .modal__container {
        position: relative;
        z-index: 9999;
        max-width: 768px;
        width: 90%;
        min-height: 300px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        padding: 30px;
        background-color: $white-color;
        text-align: center;
    }
    &.modal--dialog .modal__container {
        max-width: 360px;
    }
    &.modal--sm .modal__container {
        max-width: 480px;
    }
    &.modal--lg .modal__container {
        max-width: 90%;
        min-height: 600px;
    }
    .modal--visual {
        max-width: 80%;
        &.small {
            max-width: 50%;
        }
    }
}