.offcanvas {
    position: fixed;
    display: none;
    z-index: 9989; // era 999
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white-color;
    transform: translate(100%, 0);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    padding: 16px;
    &--right {
        @include md() {
            left: 50%;
        }
    }
    &--left {
        @include md() {
            right: 50%;
        }
    }
    &.show {
        display: block;
        transform: translate(0, 0);
        transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
}