#search {
    visibility: hidden;
    height: 0;
    opacity: 0;
    background-color: $white-color;
    border-radius: $border-radius;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.show {
        visibility: visible;
        height: auto;
        opacity: 1;
        margin-bottom: 2rem;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

#searchform {
    z-index: 1;
    width: 90%;
    #map {
        margin: 0px;
    }
    &.searchFormLarge {
        &.opened {
            position: absolute;
            margin-right: 0px;
        }
       
    }
    .toggle-searchadvanced {
        position: absolute;
        width: 32px;
        height: 32px;
        right: 4px;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 50%;
        text-align: center;
        svg {
            width: 22px;
            height: 22px;
            margin: 5px auto;
            use {
                fill: $base-color;
            }
        }
        &:hover {
            background-color: $superlight-color;
            svg {
                use {
                    fill: $dark-color;
                }
            }
        }
    }
    .input-search {
        padding-left: 30px;
        padding-right: 30px;
    }
    &.opened {
        z-index: 999;
        .input-search {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-width: 0px;
            border-bottom-width: 1px;
        }
    }
}

#searchadvanced {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 200px;
    margin-top: 0px;
    background-color: $white-color;
    z-index: 999;
    border-radius: 5px;
    padding: 1rem;
    @extend .shadow;
    &.show {
        display: block;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

}

#searchoverlay {
    position: fixed;
    z-index: 998;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &.show {
        display: block;
    }
}