/*

.tabs {
    background-color: #efefef;
    border: 1px solid #efefef;
    position: relative;
    margin-bottom: 16px;
}

.tab__title {
    width: 40%;
}

.tab__title.selected {
    background-color: white;
}

.tab__title h3 {
    padding: 16px;
    margin: 0px;
    font-weight: 400;
}

.tab__title h3 .counter {
    font-size: 0.75em;
    background-color: $primary-color;
    color: white;
    display: block;
    float: right;
    border-radius: 50%;
    text-align: center;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.tab__content {
    background-color: white;
    padding: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40%;
}

.tab__content.hide {
    display: none;
}

*/

.tabs {
    .tab {
        display: none;
        &.show {
            display: block;
        }
    }
}