.tip_button {
    display: block;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: $dark-color;
    color: $white-color !important;
    text-decoration: none;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    &.opened {
        display: none;
    }
}

.tip {
    position: relative;
    top: 0;
    font-size: small;
    border-radius: $border-radius;
    background-color: $light-color;
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-bottom: 1rem;
    &__remove {
        position: absolute;
        top: 8px;
        right: 8px;
        background: red;
    }
    &__title {
        font-size: 1rem;
        font-weight: bold;
    }
    &__text {
        margin: 0px;
    }
    &--profilo {
        nav {
            margin-left: auto;
            a {
                width: 90px;
                height: 90px;
                display: block;
                background-color: $white-color;
                border-radius: 50%;
                margin: 0 8px;
                justify-content: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                svg {
                    width: 36px;
                    height: 36px;
                    margin-top: auto;
                }
                div {
                    display: block;
                    margin-bottom: auto;
                }
                &.empty {
                    background-color: $gray-color;
                }
            }
        }
    }
}