// Tooltips
.tooltip {
    position: relative;
    &::after {
        background: rgba($secondary-color, .9);
        border-radius: $border-radius;
        bottom: 100%;
        color: $dark-color;
        content: attr(data-tooltip);
        display: block;
        font-size: $font-size-xs;
        font-weight: 400;
        left: 50%;
        max-width: $control-width-xs;
        opacity: 0;
        overflow: hidden;
        padding: $unit-1 $unit-2;
        pointer-events: none;
        position: absolute;
        text-overflow: ellipsis;
        transform: translate(-50%, $unit-2);
        transition: opacity .2s, transform .2s;
        white-space: pre;
        z-index: 999;
    }
    &:focus,
    &:hover {
        &::after {
            opacity: 1;
            transform: translate(-50%, -$unit-1);
        }
    }
    &[disabled],
    &.disabled {
        pointer-events: auto;
    }
    &.tooltip-right {
        &::after {
            bottom: 50%;
            left: 100%;
            transform: translate(-$unit-1, 50%);
        }
        &:focus,
        &:hover {
            &::after {
                transform: translate($unit-1, 50%);
            }
        }
    }
    &.tooltip-bottom {
        &::after {
            bottom: auto;
            top: 100%;
            transform: translate(-50%, -$unit-2);
        }
        &:focus,
        &:hover {
            &::after {
                transform: translate(-50%, $unit-1);
            }
        }
    }
    &.tooltip-left {
        &::after {
            bottom: 50%;
            left: auto;
            right: 100%;
            transform: translate($unit-2, 50%);
        }
        &:focus,
        &:hover {
            &::after {
                transform: translate(-$unit-1, 50%);
            }
        }
    }
    &.tooltip-info {
        &::after {
            background: rgba($primary-color, .9);
            color: $white-color;
            padding: $unit-h $unit-1;
        }
    }
    &.tooltip-success {
        &::after {
            background: rgba($success-color, .9);
            color: $white-color;
            padding: $unit-h $unit-1;
        }
    }
    &.tooltip-error {
        &::after {
            background: rgba($error-color, .9);
            color: $white-color;
            padding: $unit-h $unit-1;
        }
    }
}