*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: $html-font-size-sm;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        /* Retina-specific stuff here */
        font-size: $html-font-size !important;
    }
    line-height: $html-line-height;
    font-weight: normal;
    &.app {
        font-size: $font-size;
    }
    #app {
        transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &.notification_area_active {
        #app {
            transform: translate(-80%, 0);
            @include xs() {
                transform: translate(-240px, 0);
            }
            @include xl() {
                transform: translate(-280px, 0);
            }
        }
    }
}

html,
body {
    margin: 0px;
    color: $base-color;
    background-color: $white-color;
}

body {
    font-family: $sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    &.site {
        padding-top: 58px;
        @include md() {
            // padding-top: 70px;
        }
    }
    &.home {
        padding-top: 55px;
    }
}

* {
    box-sizing: border-box;
}

a {
    color: $base-color;
    text-decoration: none;
    outline: none;
    @extend .transition;
    &:focus,
    &:hover,
    &:active,
    &.active {
        color: darken($base-color, 10%);
        @extend .transition;
    }
    &:visited {
        color: lighten($base-color, 10%);
    }
    .site p & {
        color: $primary-color;
    }
}

figure {
    margin: 0px;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

*::selection {
    background-color: rgba($secondary-color, 0.7);
}