.m-col {
    column-gap: 40px;
    column-rule: 1px solid $light-color;
}

.col-border-right {
    border-right: 1px solid $light-color !important;
}

.col-border-left {
    border-left: 1px solid $light-color !important;
}