.flex {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    flex-wrap: wrap;
    &-nowrap {
        flex-wrap: nowrap;
    }
    @include md() {
        flex-direction: row;
        &--reverse {
            flex-direction: row-reverse;
        }
    }
    @include sm() {
        &--reverse--sm {
            flex-direction: row-reverse;
        }
    }
    &-1 {
        flex: 1;
    }
    .item {
        //margin-bottom: 1.5rem;
        //padding: 0px 8px;
        @include sm() {
            flex: 1 1 32%;
            //margin-bottom: 2%;
            //margin-right: 2%;
            &:last-child {
                margin-right: 0px;
            }
        }
        @include md() {
            margin-right: 2%;
        }
        &--center {
            align-self: center;
        }
        &--maxwidth {
            max-width: 640px;
            margin: 0px auto;
        }
        &--auto {
            flex: auto;
        }
        &-2 {
            flex: 2 1 64%;
        }
        &-3 {
            flex: 3 1 100%;
        }
        @include sm() {
            &-godlenratio-1 {
                //flex: 1 1 60.567%;
                max-width: 60.567%;
            }
            &-godlenratio-2 {
                //flex: 1 1 37.433%;
                max-width: 37.433%;
            }
        }
    }
}

.align-items-center {
    align-items: center;
}