.grid {
    width: 100%;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    gap: 1% 1%;
    grid-template-columns: minmax(31%, 1fr) minmax(31%, 1fr) minmax(31%, 1fr);
    @include xs() {
        grid-template-columns: minmax(23%, 1fr) minmax(23%, 1fr) minmax(23%, 1fr) minmax(23%, 1fr);
    }
    @include lg() {
        grid-template-columns: minmax(19%, 1fr) minmax(19%, 1fr) minmax(19%, 1fr) minmax(19%, 1fr) minmax(19%, 1fr);
    }
    @include xl() {
        grid-template-columns: minmax(10%, 1fr) minmax(10%, 1fr) minmax(10%, 1fr) minmax(10%, 1fr) minmax(10%, 1fr) minmax(10%, 1fr) minmax(10%, 1fr) minmax(10%, 1fr);
    }
    >* {
        align-self: stretch;
    }
}