h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5em;
    margin-top: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
}

h1,
.h1 {
    font-size: 1.2rem;
    @include sm() {
        font-size: 1.5rem;
    }
}

h2,
.h2 {
    font-size: 1.25rem;
}

h3,
.h3 {
    font-size: 1.1rem;
}

h4,
.h4 {
    font-size: 1rem;
}

h5,
.h5 {
    font-size: 1rem;
}

h6,
.h6 {
    font-size: .8rem;
}

// Paragraphs
p {
    margin: 0 0 $line-height;
}

// Semantic text elements
a,
ins,
u {
    text-decoration-skip: ink edges;
}

abbr[title] {
    border-bottom: $border-width dotted;
    cursor: help;
    text-decoration: none;
}

// Blockquote
blockquote {
    border-left: $border-width-lg solid $border-color;
    margin-left: 0;
    padding: $unit-2 $unit-4;
    p:last-child {
        margin-bottom: 0;
    }
}

// Weight
.weight-700 {
    font-weight: 700;
}

.weight-600 {
    font-weight: 600;
}

.weight-400 {
    font-weight: 400;
}

.weight-300 {
    font-weight: 300;
}

.weight-200 {
    font-weight: 200;
}

.weight-100 {
    font-weight: 100;
}

// whitespace
.nowrap {
    white-space: nowrap;
}