.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.pac-container {

}

.pac-item {
   
    .pac-item-query {

        .pac-matched {
            
        }
    }

    .pac-icon {
        display: none;
    }

    &:hover {
        background: #ffed00;
        cursor: pointer;
    }
}

/**
MAP
**/ 

.map {
    width: 100%;
    height: 100%;
}
