.select2 {
    width: 100% !important;
}

.select2-container {
    z-index: 99999 !important;
}

.select2-container .select2-selection--single {
    .form-group-lg & {
        font-size: $font-size-lg;
        height: $control-size-lg;
        padding: $control-padding-y $control-padding-x-lg;
    }
    .form-group-xl & {
        font-size: $font-size-xl;
        height: $control-size-xl;
        padding: 0.6rem $control-padding-x-xl;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translate(0, -50%);
}

.select2-container--default {}