@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes toastEnter {
    from {
        opacity: 0;
        transform: translate(-50%, -10px) scale(0.6);
    }
    to {
        opacity: 0.85;
        transform: translate(-50%, 0) scale(1);
    }
}

@keyframes focus {
    0% {
        border: 1px solid $light-color;
        background-color: rgba($secondary-color, 0);
    }
    50% {
        border: 1px solid $secondary-color;
        background-color: rgba($secondary-color, 1);
    }
    75% {
        border: 1px solid $light-color;
        background-color: rgba($secondary-color, 0.7);
    }
    100% {
        border: 1px solid $secondary-color;
        background-color: rgba($secondary-color, 0.3);
    }
}

.focus {
    animation: focus 0.3s ease forwards;
}