@function base-color($key: 'dark') {
    @return map-get($base-colors, $key);
}

@function brand-color($key: 'primary') {
    @return map-get($brand-colors, $key);
}

@function semantic-color($key: 'success') {
    @return map-get($semantic-colors, $key);
}