// Mixins
@mixin xs {
    @media (min-width: #{$size-xs}) {
        @content;
    }
} // Tiny devices
@mixin sm {
    @media (min-width: #{$size-sm}) {
        @content;
    }
} // Small devices
@mixin md {
    @media (min-width: #{$size-md}) {
        @content;
    }
} // Medium devices
@mixin md769 {
    @media (min-width: 769px) {
        @content;
    }
} // Medium devices
@mixin lg {
    @media (min-width: #{$size-lg}) {
        @content;
    }
} // Large devices
@mixin xl {
    @media (min-width: #{$size-xl}) {
        @content;
    }
} // Extra large devices
@mixin xxl {
    @media (min-width: #{$size-2x}) {
        @content;
    }
} // Extra large devices
// Max
@mixin maxmd {
    @media (max-width: #{$size-md-max}) {
        @content;
    }
}


/* Text Align */

@mixin display($breaakpoint: '') {
    $displays: ('none', 'block', 'inline', 'inline-block');
    @each $d in $displays {
        .d-#{$d}#{$breaakpoint} {
            display: #{$d};
        }
    }
}


/* Text Align */

@mixin textalign($breaakpoint: '') {
    $aligns: ('left', 'center', 'right', 'justify');
    @each $align in $aligns {
        .text-#{$align}#{$breaakpoint} {
            text-align: #{$align};
        }
    }
}


/* Columns */

@mixin columns($breaakpoint: '') {
    $cols: (5, 4, 3, 2, 1);
    @each $col in $cols {
        .m-col-#{$col}#{$breaakpoint} {
            column-count: $col;
        }
    }
}


/* Font Size */

@mixin fontsize($breaakpoint: '') {
    $sizes: (90, 100, 125, 150, 175, 200, 250, 300, 350, 400);
    @each $size in $sizes {
        .size-#{$size}#{$breaakpoint} {
            font-size: #{$size/100}rem;
        }
    }
}

@mixin maxwidth($breaakpoint: '') {
    $sizes: (100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200);
    @each $size in $sizes {
        .max-width-#{$size}#{$breaakpoint} {
            max-width: #{$size}px;
        }
    }
}


/* margins & padding */

@mixin spacing($breakpoint: '') {
    $spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, auto);
    $sides: ( "": "all", "t": "top", "b": "bottom", "l": "left", "r": "right");
    @each $space in $spaceamounts {
        @each $prefix,
        $value in $sides {
            $property: if($prefix=='', '', -#{$value});
            $prefisso: if($prefix=='', '', #{$prefix});
            $misura: if($prefix=='', #{$space}, #{$space});
            .m#{$prefisso}#{$misura}#{$breakpoint} {
                @if($space=='auto') {
                    margin#{$property}: #{$space};
                }
                @else {
                    margin#{$property}: #{$space/10}rem;
                }
            }
            .p#{$prefisso}#{$misura}#{$breakpoint} {
                @if($space=='auto') {
                    padding#{$property}: #{$space};
                }
                @else {
                    padding#{$property}: #{$space/10}rem;
                }
            }
        }
        .py#{$space}#{$breakpoint} {
            padding-top: #{$space/10}rem;
            padding-bottom: #{$space/10}rem;
        }
    }
}

.myauto {
    margin-top: auto;
    margin-bottom: auto;
}

// Button variant mixin
@mixin button-variant($color: $primary-color) {
    background: $color;
    border-color: darken($color, 3%);
    color: $white-color;
    &:focus,
    &:hover {
        background: darken($color, 2%);
        border-color: darken($color, 5%);
        color: $white-color;
    }
    &:active,
    &.active {
        background: darken($color, 7%);
        border-color: darken($color, 10%);
        color: $white-color;
    }
    &.loading {
        &::after {
            border-bottom-color: $white-color;
            border-left-color: $white-color;
        }
    }
}

@mixin button-outline-variant($color: $primary-color) {
    background: $light-color;
    border-color: $color;
    color: $color;
    &:focus,
    &:hover {
        background: lighten($color, 50%);
        border-color: darken($color, 2%);
        color: $color;
    }
    &:active,
    &.active {
        background: $color;
        border-color: darken($color, 5%);
        color: $light-color;
    }
    &.loading {
        &::after {
            border-bottom-color: $color;
            border-left-color: $color;
        }
    }
}


/*
colors
*/

// Background color utility mixin
@mixin bg-color-variant($name: ".bg-primary", $color: $primary-color) {
    #{$name} {
        background: $color !important;
        @if (lightness($color) < 60) {
            color: $white-color;
        }
    }
}

// Background color utility mixin
@mixin fill-color-variant($name: ".fill-primary", $color: $primary-color) {
    #{$name} {
        fill: $color !important;
    }
}

// Text color utility mixin
@mixin text-color-variant($name: ".text-primary", $color: $primary-color) {
    #{$name} {
        color: $color !important;
    }
    a#{$name} {
        &:focus,
        &:hover {
            color: darken($color, 5%);
        }
        &:visited {
            color: lighten($color, 5%);
        }
    }
}

@mixin control-shadow($color: $primary-color) {
    box-shadow: 0 0 0 .1rem rgba($color, .2);
}

@include spacing();
@include textalign();
@include fontsize();
@include display();
@include maxwidth();
@include columns();
@include xs {
    @include spacing('--xs');
    @include textalign('--xs');
    @include fontsize('--xs');
    @include display('--xs');
    @include maxwidth('--xs');
    @include columns('--xs');
}

@include sm {
    @include spacing('--sm');
    @include textalign('--sm');
    @include fontsize('--sm');
    @include display('--sm');
    @include maxwidth('--sm');
    @include columns('--sm');
}

@include md {
    @include spacing('--md');
    @include textalign('--md');
    @include fontsize('--md');
    @include display('--md');
    @include maxwidth('--md');
    @include columns('--md');
}

@include lg {
    @include spacing('--lg');
    @include textalign('--lg');
    @include fontsize('--lg');
    @include display('--lg');
    @include maxwidth('--lg');
    @include columns('--lg');
}

@include xl {
    @include spacing('--xl');
    @include textalign('--xl');
    @include fontsize('--xl');
    @include display('--xl');
    @include maxwidth('--xl');
    @include columns('--xl');
}