#navbar {
    @media (max-width: 960px) {
        padding-top: 1rem;
        display: none;
        flex: 100%;
        a {
            height: auto;
            display: block;
            border-top: 1px solid $gray-color-light;
            padding: 1rem;
        }
        .active & {
            display: block;
            z-index: 999;
        }
    }
}

.navbar {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
        margin: 0 0.35rem;
        &.current {
            position: relative;
            white-space: nowrap;
            z-index: 1;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 0.3em;
                z-index: -1;
                background-color: $secondary-color;
            }
        }
    }
    .navbar-section {
        align-items: center;
        padding: 0;
        display: flex;
        flex: 1 0 0;
        &:not(:first-child):last-child {
            justify-content: flex-end;
        }
    }
    .navbar-center {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
    }
    .navbar-dropdown {
        display: block;
        text-align: center;
    }
    .navbar-dropdown-toggle {
        display: none;
    }
    @include sm() {
        .navbar-dropdown {
            position: relative;
            padding: 0.4833333333rem 0.4rem;
            &:hover {
                .navbar-dropdown-menu {
                    display: block;
                    visibility: visible;
                    transform: translate(-50%, 4px) scale(1);
                    transition: transform 0.25s ease;
                }
            }
        }
        .navbar-dropdown-toggle {
            display: block;
            cursor: pointer;
        }
        .navbar-dropdown-menu {
            visibility: hidden;
            position: absolute;
            background-color: $secondary-color;
            border-radius: 3px;
            left: 50%;
            transform: translate(-50%, 15px) scale(0.9);
            transition: transform 0.25s ease;
            padding: 1rem;
            &:before {
                content: '';
                position: absolute;
                border-radius: 3px;
                width: 12px;
                height: 12px;
                background-color: $secondary-color;
                top: 0px;
                left: 50%;
                transform: rotate(45deg) translate(-50%);
            }
        }
    }
}