.abbonamenti {
    margin-top: 2rem;
    .abbonamento {
        flex: 1;
        background-color: $white-color;
        margin-bottom: 2rem;
        &--header {
            height: 100px;
            text-align: center;
            padding-top: 1rem;
            border: 1px solid $light-color;
        }
        &--body {
            text-align: center;
            border: 1px solid $light-color;
            font-size: $font-size-sm;
        }
        &--footer {
            height: 100px;
            text-align: center;
            border: 1px solid $light-color;
        }
        &:last-child {
            .abbonamento--header,
            .abbonamento--body,
            .abbonamento--footer {
                border-right: 1px solid $light-color;
            }
            .abbonamento--header {
                border-radius: 0 $border-radius 0 0;
            }
        }
        // titoli
        &.titoli {
            padding-top: 100px;
            display: none;
            .abbonamento--body {
                border-left: 1px solid $light-color;
                border-bottom: 1px solid $light-color;
                text-align: left;
                font-size: 1rem;
            }
            .riga {
                justify-content: left;
            }
        }
        // active
        &.active {
            .abbonamento--header {
                height: 120px;
                margin-top: -20px;
                border-right: 1px solid $light-color;
                border-radius: $border-radius $border-radius 0 0;
                overflow: hidden;
                position: relative;
                &:before {
                    content: 'Il tuo piano';
                    position: absolute;
                    width: 100%;
                    padding: 0.5rem;
                    background-color: $secondary-color;
                    left: 0;
                    bottom: 0;
                }
            }
            .abbonamento--footer {}
        }
    }
    .riga {
        height: 60px;
        padding: 0 1rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        &-x2 {
            height: 120px;
        }
        &-x3 {
            height: 180px;
        }
        .title,
        .icon,
        .text {
            flex: 1;
        }
        .title {
            text-align: left;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 1rem;
            right: 1rem;
            height: 1px;
            background-color: $light-color;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
        &.titolo {
            font-weight: 600;
        }
        &.sottotitolo {
            padding-left: 1.5rem;
        }
    }
    .price {
        font-size: 1.5rem;
        padding: 0.5rem;
        .valuta {
            font-weight: 300;
        }
        .anno {
            font-size: 1rem;
        }
    }
    @include xs() {
        display: flex;
        .abbonamento--header {
            border-bottom: 0px;
        }
        .abbonamento--body {
            border-right: 0px;
            border-bottom: 0px;
        }
        .abbonamento--footer {
            border-right: 0px;
        }
        .abbonamento.titoli {
            display: block;
        }
        .abbonamento.active {
            +.abbonamento {
                .abbonamento--header {
                    border-left: 0px;
                }
            }
        }
        .riga {
            .title {
                display: none;
            }
        }
    }
}