.tipo-annuncio {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    &-immobile {
        background-color: $col-immobile;
    }
    &-responsabiletecnico {
        background-color: $col-responsabile;
    }
    &-acquirente {
        background-color: $col-acquirente;
    }
    &-collaborazione {
        background-color: $col-collaborazione;
    }
    &-agenteimmobiliare {
        background-color: $col-agente;
    }
}

.preview--annuncio {}