.articolo {
    h1 {
        font-size: 2.5em;
    }
    img {
        max-width: 100%;
    }
    #sidebar {
        max-width: 320px;
    }
    mark {
        background-color: $secondary-color;
    }
    strong {
        font-weight: 700;
    }
}

.articolo__preview {
    position: relative;
    //overflow: hidden;
    background-color: $white-color;
    //@extend .shadow;
    border-radius: $border-radius;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    .img-container {
        position: relative;
        overflow: hidden;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        margin-left: -1rem;
        margin-top: -0.5rem;
        margin-right: -1rem;
        margin-bottom: 1rem;

        .img-counter {
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 2;
        }
    }
    img {
        width: 100%;
        height: auto;
        opacity: 0.75;
        transition: all 0.2s ease-in;
    }
    >header {
        padding: 0.5rem 1rem 0.25rem 1rem;
        h4 {
            font-weight: 400;
        }
        a {
            display: block;
        }
    }
    >footer {
        margin-top: auto;
        padding: 0.5rem 0 1rem 0;
        display: flex;
        justify-content: space-between;
        .counter {
            color: $gray-color;
            display: flex;
            align-items: center;
            margin-left: 1rem;
            .n {
                color: $gray-color;
                margin-left: auto;
                margin-right: 0.15rem;
            }
            svg {
                width: 20px;
                height: 20px;
            }
            use {
                fill: $gray-color;
            }
            &:hover {
                use {
                    fill: $gray-color;
                }
            }
        }
        &.end {
            justify-content: flex-end;
            .counter {
                margin-left: 0.5rem;
            }
        }
    }
    a {
        color: $dark-color;
        &:hover {
            text-decoration: none;
            color: $base-color;
            >img {
                opacity: 0.95;
                transform: scale(1.075);
                transition: all 0.2s ease-out;
            }
        }
    }
}