.auth {
    .visual {
        width: 100%;
        height: 35vh;
        min-height: 300px;
        padding: 2rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center 50px;
        @include sm() {
            width: 60%;
            height: 100vh;
            background-position-y: center;
        }
    }
    .auth-form {
        background-color: $white-color;
        padding: 2rem;
        position: relative;
        @include sm() {
            position: absolute;
            left: 60%;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
        form {
            margin-top: 2rem;
            margin-bottom: auto;
        }
    }
    &.success {
        .auth-form {
            text-align: center !important;
        }
    }
    &.register {
        .visual {
            background-color: $primary-color;
            background-image: url('/images/visual-registrazione.svg');
            #logo {
                svg path {
                    fill: $white-color;
                }
            }
        }
    }
    &.login {
        .visual {
            background-color: $light-color;
            background-image: url('/images/visual-login.svg');
        }
    }
    &.reset {
        .visual {
            background-color: $light-color;
            background-image: url('/images/visual-recupero-password.svg');
        }
    }
    .title {
        font-weight: 100;
        font-size: 2.3rem;
        margin: 0.75rem 0 0;
        @include xl() {
            margin: 2rem 0 0;
            font-size: 3rem;
        }
    }
    .subtitle {
        font-weight: 300;
        font-size: 1rem;
        @include xl() {
            font-size: 1.25rem;
        }
    }
    #footer {
        padding: 0.5rem 0 0 0;
        margin-top: 2rem;
        font-size: $font-size-sm;
        @include sm() {
            margin-top: auto;
            display: flex;
            align-items: center;
        }
        p {
            margin-bottom: 0px;
            width: 100%;
        }
        .logo-procreo {
            display: block;
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }
}