.conversazione {
    background-color: $white-color;
    overflow: hidden;
}

.conversazione_sidebar {
    position: fixed;
    text-align: center;
    z-index: 3;
    right: 32px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    top: 60px;
    left: 0px;
    right: 0px;
    @extend .shadow;
    .conversazione_sidebar_header {
        background-color: $white-color;
        padding: 1rem;
        display: flex;
        svg {
            width: 22px;
            height: 22px;
            float: left;
        }
        button {
            margin-left: auto;
        }
    }
    .conversazione_sidebar_body,
    .conversazione_sidebar_footer {
        padding: 1rem;
        display: none;
        &.show {
            display: block;
            background-color: $white-color;
        }
    }
    .conversazione_sidebar_footer {
        margin-top: auto;
    }
    @include sm() {
        top: 90px;
        bottom: 32px;
        right: 32px;
        left: auto;
        width: 250px;
        box-shadow: none;
        .conversazione_sidebar_header {
            display: none;
        }
        .conversazione_sidebar_body,
        .conversazione_sidebar_footer {
            padding: 1rem;
            display: block;
        }
    }
    @include lg() {
        top: 32px;
    }
}

.conversazione_content {
    background-color: $superlight-color;
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 80px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @include sm() {
        top: 90px;
        right: 312px;
        bottom: 112px;
        margin-left: 32px;
        border-radius: $border-radius;
    }
    @include lg() {
        top: 32px;
        left: 240px;
    }
    @include xl() {
        left: 280px;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($white-color, 1);
        z-index: 2;
    }
    .messaggio {
        display: block;
        padding: 0.5rem 1rem;
        animation: in 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) !important;
        word-break: break-all;
        .messaggio__content {
            position: relative;
            border-radius: $border-radius;
            padding: 0.75rem;
            &:after {
                width: 8px;
                height: 8px;
                content: '';
                position: absolute;
                bottom: 10px;
                right: 4px;
                transform: rotate(45deg);
            }
            .messaggio__header {
                display: block;
                font-size: $font-size-sm;
                opacity: 0.7;
                display: flex;
                align-items: center;
            }
            time {
                text-align: right;
                display: block;
                font-size: small;
                opacity: 0.7;
            }
        }
        &--left {
            padding-right: 20%;
            .messaggio__content {
                background-color: lighten($secondary-color, 30%);
                &:after {
                    left: -4px;
                    background-color: lighten($secondary-color, 30%);
                }
            }
        }
        &--right {
            padding-left: 20%;
            .messaggio__content {
                background-color: lighten($gray-color, 10%);
                &:after {
                    right: -4px;
                    background-color: lighten($gray-color, 10%);
                }
            }
        }
    }
}

.conversazione_input {
    position: fixed;
    height: 80px;
    bottom: 0px;
    right: 0;
    left: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    @include sm() {
        right: 312px;
    }
    @include lg() {
        bottom: 32px;
        margin-left: 32px;
        left: 240px;
        right: 312px;
    }
    @include xl() {
        left: 280px;
    }
    textarea {
        width: 100%;
        left: 0;
        right: 0;
        padding-right: 40px;
        height: 100px;
        padding: 0.5rem;
        resize: none;
        background-color: $white-color;
        outline: none;
        border: 0px;
        border-radius: $border-radius;
    }
    .btn {
        position: absolute;
        right: 1rem;
        z-index: 2;
    }
}

@keyframes in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}