.dashboard,
.dashboard #main {
    //background-color: $superlight-color
}

.dashboard-block {
    @extend .shadow;
    min-height: 200px;
    border-radius: $border-radius;
    margin-bottom: 1.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    @include sm() {
        margin-bottom: 2rem;
    }
    background-color: $white-color;
    &__header {
        padding: 0.5rem;
        border-bottom: 1px solid $light-color;
        font-size: $font-size-sm;
        color: $base-color;
        .counter {
            margin-left: auto;
            font-size: 0.65rem;
            border-radius: 2rem;
            background-color: $gray-color;
            padding: 0.25em 0.5em;
        }
    }
    &__body {
        font-size: 0.85rem;
        padding: 0.5rem;
        img {
            max-width: 160px;
        }
    }
    &__footer {
        font-size: $font-size-sm;
        padding: 0.5rem;
        border-top: 1px solid $light-color;
        margin-top: auto;
        img {
            max-width: 160px;
        }
    }
    &__nav {
        float: right;
        font-size: small;
        a {
            color: $gray-color;
            padding: 0.25rem;
            &.current {
                &:before {
                    content: '';
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;
                    z-index: 1;
                    border: 1px solid $gray-color;
                    color: $dark-color;
                    border-radius: 2rem;
                }
            }
        }
    }
    &.primary {
        background-color: $primary-color;
        color: $white-color;
        .dashboard-block__header {
            border-bottom: 1px solid $primary-color-light;
            color: $white-color;
        }
    }
    &.secondary {
        background-color: $secondary-color;
        .dashboard-block__header {
            border-bottom: 1px solid $secondary-color-light;
            color: $dark-color;
        }
    }
    &.gray {
        background-color: $gray-color;
        .dashboard-block__header {
            border-bottom: 1px solid $gray-color-light;
            color: $dark-color;
        }
    }
    .list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a {
                display: block;
            }
        }
    }
}