.error {
    text-align: center;
    height: 100vh;
    main {
        display: flex;
        height: 100vh;
        background-color: $primary-color;
        align-items: center;
        justify-content: center;
    }
    article {
        max-width: 100%;
    }
    &__title {
        font-size: 3rem;
        font-weight: 300;
        @include md() {
            font-size: 4rem;
        }
    }
    &__subtitle {
        font-size: 1.3rem;
        font-weight: 300;
        @include md() {
            font-size: 1.5rem;
        }
    }
    #logo {
        fill: $white-color;
    }
    a {
        color: $white-color;
    }
    footer {
        color: $base-color;
        align-self: flex-end;
        a {
            color: $dark-color;
        }
    }
}