.gallery-preview {
    margin-bottom: 30px;
}

.gallery {
    transition: all 0.2s linear;
    img {
        cursor: zoom-out;
    }
    &.grid {
        img {
            cursor: zoom-in;
        }
    }
}