.radio-img {
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]+label {
        display: block;
        cursor: pointer;
    }
    svg,
    img {
        max-width: 70px;
        max-height: 80px;
        height: auto;
        z-index: 1;
    }
    h3,
    h4,
    h5 {
        font-size: 0.9rem;
        padding: 0.5rem;
        max-width: 90%;
        border-radius: $border-radius;
        margin: 0px auto;
        position: relative;
    }
    &:hover {
        [type="radio"]:checked+label,
        [type="radio"]:not(:checked)+label {
            transition: all 0.3s ease;
            svg {
                //background-color: $secondary-color;
                opacity: 0.7;
                use {
                    fill: $dark-color;
                }
            }
        }
    }
    [type="radio"]:checked+label {
        //background-color: $secondary-color;
        transition: all .3s ease-in-out;
        h3,
        h4,
        h5 {
            background-color: $secondary-color;
            color: $dark-color;
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                left: 50%;
                top: 0;
                height: 10px;
                background-color: $secondary-color;
                transform: rotate(45deg) translate(-50%, -20%);
                transition: all .3s ease-in-out;
            }
        }
    }
}

.immobile-title {
    position: relative;
}

.immobile-codice {
    text-transform: uppercase;
    font-size: 0.7rem;
}