.boarding {
    padding-bottom: 90px;
}

.onboarding {
    max-width: 960px;
    margin: 3rem auto;
    form {
        margin-top: 1rem;
    }
}

#map {
    width: 100%;
    height: 500px;
    margin-top: 1rem;
}

#resetPolygon {
    margin: auto;
}

#fixed-action {
    @include md() {
        height: 80px;
        position: fixed;
        padding: 1rem 2rem;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
        background-color: $light-color;
    }
}