.profilo {
    //background-color: $superlight-color;
}

.user {
    &__header {
        text-align: center;
        @include md769() {
            padding-left: 1rem;
        }
        .sticky {
            position: sticky !important;
            top: 5rem;
            .app & {
                top: 0rem;
            }
        }
    }
    .user__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include md769() {
            flex-direction: column;
        }
        .user__text {
            text-align: left;
            margin-left: 1rem;
            @include md769() {
                margin-left: 0rem;
            }
        }
    }
    &__figure {
        img {
            margin: 0 auto;
            position: relative;
            display: block;
            width: 100%;
            max-width: 90px;
            height: auto;
            max-height: 900px;
            border-radius: 50%;
            border: 1px solid $gray-color;
            filter: grayscale(100%) contrast(120%);
            transition: all 0.3s ease;
            overflow: hidden;
            text-indent: -9999px;
        }
    }
    &__title {
        margin-bottom: 0px;
        font-size: 1.5rem;
        white-space: nowrap;
        .certificazione {
            top: 3px;
            position: relative;
            svg {
                margin-left: 0.15rem;
                width: 20px;
                height: 20px;
                use {
                    fill: $primary-color;
                }
            }
        }
    }
    &__nome {
        font-weight: 600;
        .user--verified & {
            // serve per centrare il titolo quando c'è il bollino della verifica
            /*
            padding-left: 20px;
            @include md769() {
                padding-left: 0px;
            }
            */
        }
    }
    &__qualifica {
        font-size: 1.1rem;
        display: block;
        font-weight: 300;
        margin: 0px;
    }
    &__skill {
        font-size: 1.1rem;
        font-weight: 500;
        margin: 0px;
    }
    &__address {
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        svg {
            margin-left: 0.25rem;
        }
    }
    &__description {
        font-size: 0.9rem;
        font-weight: 300;
    }
    &__albo {
        font-size: 0.9rem;
        font-weight: 300;
    }
    &__description,
    &__albo {
        width: 75%;
        max-width: 320px;
        margin: 1rem auto;
        @include md769() {
            width: 100%;
            max-width: 100%;
            margin: 1rem 0;
        }
    }
    &__social {
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $light-color;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        @include md769() {
            justify-content: flex-start;
            .user__social__action {
                //flex: 1;
            }
        }
        .user__social__action {
            margin-right: 0.25rem;
        }
        .counter {
            display: flex;
            margin-right: 0.25rem;
            margin-left: 0.25rem;
            .n {
                font-size: 0.85rem;
                margin-right: 0.25rem;
                color: $dark-color;
            }
            svg {
                width: 20px;
                height: 20px;
                use {
                    fill: $dark-color;
                }
            }
        }
    }
    &__nav {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        @include md769() {
            margin-left: -16px;
            justify-content: start;
            flex-direction: column;
        }
        a {
            padding: 8px 8px;
            display: flex;
            align-items: center;
            @include md769() {
                padding: 8px 16px;
            }
            svg {
                @include sm() {
                    margin-right: 0.5rem;
                }
            }
            span {
                display: none;
                @include sm() {
                    display: block;
                }
            }
            &.current {
                color: $dark-color;
                background-color: $light-color;
                border-radius: 20em;
                svg {
                    margin-right: 0.20rem;
                }
                span {
                    display: block;
                }
            }
        }
    }
    &__section {
        padding-bottom: 2rem;
        &__title {
            font-size: 1rem;
            font-weight: 300;
            display: flex;
            border-bottom: 1px solid $superlight-color;
            padding-bottom: 0.5rem;
            svg {
                margin-right: 0.25rem;
            }
            .n {
                margin-left: auto;
                font-size: 0.85rem;
            }
        }
        &__footer {
            text-align: center;
            padding: 1rem 0;
        }
    }
    @include md769() {
        &__header {
            text-align: left;
        }
        &__figure {
            img {
                margin: 1rem 0px;
            }
        }
    }
    #map {
        width: 100%;
        height: 400px;
        border-radius: $border-radius;
    }
}